# Игнорируем данные Docker
.env
.docker/

# Игнорируем контейнерные и временные файлы
/vendor/
/node_modules/
/composer.lock
/db_data/
/public/uploads/

# Логи
*.log

# Игнорируем все, что связано с конфигурацией IDE
.idea/
.vscode/
/php/vendor
/neo4j/
/db/
/composer.txt
/php/sessions/
