pip
numpy
jupyter
fastapi[standard]
uvicorn[standard]
watchfiles
pydantic
yandexcloud
langchain
langchain-community
langchain-openai
pandas
pyzmq
jupyterlab
jupyterlab-language-pack-ru-RU
mecab-python3
pymilvus
pymilvus[model]
pymilvus[bulk_writer]
transformers
faiss-cpu
tensorflow
torch
sentence-transformers
keras
keras-bert
